@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<h1>Contact us</h1>

@{

	if (TempData["responseMsg"] != null)
	{<h1>@TempData["responseMsg"]</h1>}
else
{
	@Html.Action("index", "ContactUsSurface");
}}