@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<h1>Contact us</h1>


@Html.Action("index", "ContactUsSurface");