
<h1>Contact Us From Partial</h1>


<form method="post" action="/umbraco/surface/ContactUsSurface/HandleSubmit">

    <input type="text" name="userName" />

    <input type="text" name="email" />


    <input type="text" name="msgBody" />


    <input type="submit" />

</form>